.app {
  display: flex;

  width: 100vw;
  height: 100vh;
}

.placeholder {
  min-width: 100px;
  min-height: 100px;
  border: 1px solid #000;
}

.right-side {
  flex: 1 0 50vw;

  border: 1px solid #000;
}